*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: medium;
}

body{
    background-color:rgb(7, 8, 7);
}
.container {
    
        display: flex;
        flex-direction: column;
        margin: auto;
        gap :10px;
        background-color: #f5f5f5;
        padding: 24px;
        border-radius: 22px;
        width: 70vw;
        align-items: center;
        padding: 24px;
}


 
 